*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header{
    min-width: 100%;
    height: 737px;
    
    background-color: #f3f9ff;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: -300px 0;
    
    margin-bottom: 90px;
    
}

/*header top line*/
.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top *{
    margin-right: 10px;
}
.header-top-title{
    font-weight: 900;
    font-size: 22px;
    margin-left: 20px;
    margin-right: 5vw;
}

.header-top-punkt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.punkt-1-image::before{
    content: url('../images/header-punkt1.png');
}

.punkt-2-image::before{
    content: url('../images/header-punkt2.png');
}

.punkt-3-image::before{
    content: url('../images/header-punkt3.png');
}
.punkt-1{
    margin-top: 6px;
    margin-left: 6px;
    font-style: italic;
}
/* end of header top line*/


/*center block*/


.header-mid{
    display: flex;
}
/*фото*/
.leg-img{
    position: relative;
    max-width: none;
    top: -110px;
    left: -300px;
    transition: .2s;
}

.header-mid-item{
    padding-top: 20px;
    position: relative;
    left: -250px;
}


.header-mid-title{
    font-weight: 900;
    font-size: 34px;
}

.header-mid-title-add{
    font-size: 25px;

}
.orange-bottom-line{
    border-bottom: #ff6b00 solid 3px;
    display: inline-block;
}

.green-bottom-line{
    border-bottom: #a7c93d solid 3px;
    display: inline-block;
}


.items{
    padding-top: 30px;
    overflow: hidden; 
}
.item-circle{
    display: inline-block;
    margin: 0;
    border: 7px solid #e8edc9;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #a7c93d;
    width: 46px;
    height: 46px;

    color: #f3f9ff;
    font-size: 13px;
}

.item-text{
    display: inline-block;
}

.td1{
    padding-right: 10px;
}

tr{
    padding-bottom: 20px;
}

/*end item*/

.header-mid-form{
    padding-top: 40px;

    position: relative;
    width: 270px;
    height: 554px;
    background-image: url('../images/form.png');
    background-repeat: no-repeat;
    background-position: center;
    top: -730px;
    left: 800px;

    text-align: center;

}

.form-title{
    position: relative;
    font-weight: 500;

}

.form-title-orange{
    color: #ff6b00;
}

.form-costs{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 10px;
}

.form-cost-old-title{
    margin: 0;
    font-weight: 100;
}

.form-old-price{
    margin: 0;
    text-decoration: #ff6b00 line-through;
    
    font-weight: 400;
    font-size: 30px;
}

.form-cost-new-title{
    margin: 0;
    font-weight: 500;

}

.form-new-price{
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    border-radius: 5px;
    width: 104px;
    height: 38px;
    background-color: #ffc002;
    border: #ffc002 solid 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form-name{
   width: 220px;
    height: 65px;
    border: solid 1px #edf1f6;
    background-color: #edf1f6;
    border-radius: 32px;

    background-image: url('../images/name_form.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 35px;
    margin-bottom: 10px;
}

.form-telephone{
    width: 220px;
    height: 65px;
    border: solid 1px #edf1f6;
    border-radius: 32px;
    background-color: #edf1f6;
    background-image: url('../images/telephone_form.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 35px;
    margin-bottom: 10px;
}

.form-send{
    width: 218px;
    height: 70px; 
    background-color: #ffc002;
    border: 1px solid #ffc702;
    border-radius: 32px;

    font-weight: 400;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.form-send:hover{
    color: #ffc002;
    background-color: #000000;
}

.form-less{
    font-weight: 500;
    margin-bottom: 10px; 
}

.form-security{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: -10px;
    left: 7px;
    height: 44px;
    width: 256px;
    background-color: #eef2f7;
    font-weight: 100;
    font-size: 13px;

    background-image: url('../images/form-security.png');
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: 11px;

}
.header-low{
    position: relative;
}
.product-img{
    position: absolute;
    left: -400px;
    top: -320px;
}


/*-----------------------------------------------main block---------------------------------------------------------------------------------------------------------*/
.main{
    background-color: #ffffff;
    padding: 40px;

}

.main-levels{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-lvl1-title{
    font-weight: 800;
    font-size: 48px;

    color: #383334;
}

.main-lvl-1{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    margin-bottom: 20px;
}

.logo-main{
    width: 81px;
    height: 56px;
}

.main-lvl2{
    width: 100%;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;
}

.item-line{
    height: 4px;
    width: 50px;
    margin-bottom: 22px;
    margin-top: 32px;
    background-color: #becbd8;
}

.lvl2-item-img{
    display: inline-block;
}
.lvl2-item-text{
    display: inline-block;
    padding-left: 10px;

    font-weight: 500;
}

.lvl2-item-optinaltext{
    font-weight: 400;
    
    color: #383334;
}


.main-lvl3{
    position: relative;
    height: 170px;
    width: 100%;

    display: flex;
    align-items: flex-end;
    
    z-index: 10;
}
.statistic{
    left: calc(50% - 82px);
    top: 0;
    position: absolute;
    width: 175px;
    height: 73px;
}
.main-lvl3-sub{
    border: 4px solid #f4d3bb;
    border-radius: 10px;

    width: 100%;
    height: 137px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
/*специально, для того, чтобы на дескоптной версии не было различий при разных разришениях экрана*/
@media only screen and (max-width: 1400px){
    .product-img{
        top: -300px;
        left: -300px;
    }
}

@media only screen and (max-width: 1199px){

    .leg-img{
        left: -400px;
    }

    .header-mid-item{
        position: absolute;
        left: 400px;
    }

    .header-mid-form{   
        top: 0px;
        left: 0px;
    }

    .product-img{
        top: 450px;
        left: -1060px;
    }
}


@media only screen and (max-width: 1020px){

    .header-mid{
        padding: 5%;
    }
    .leg-img{
        display: none;
    }
    .punkt-1,
    .punkt-1-image::before,
    .punkt-2-image::before,
    .punkt-3-image::before{
        display: none;
    }

    .header-mid-form{
        position: relative;
        top: 0;
        left: 0;
    }

    .header-mid-item{
        position: relative;
        top: 0;
        left: 0;

        margin-right: 15%;
    }

    .container{
        display: flex;

        flex-direction: column;
        align-items: stretch;
    }

    .product-img{
        top: 500px;
        left: -600px;

        width: 322px;
        height: 175px;
    }

}

@media only screen and (max-width: 768px){
    .header{
        height: auto;
        background-color: #ffffff;
    }
    .header-mid-item{
        margin: 0;
        margin-bottom: 20px;
    }

    .header-mid{
        display: flex;
        justify-content: center;
    }

    .product-img{
        position: relative;
        top: 0;
        width: 0;
    }

    .main-lvl2{
        flex-direction: column;
    }

    .statistic{
        display: none;
    }

    .main-lvl3-sub{
        height: auto;
    }
}